* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}

.header {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  display: flex;
}

.mid-top .ilustrations {
  display: flex;
  text-align: center;
}

.ilustration {
}

.mid-bottom {
  background-color: #e5e7eb;
}

.bottom {
  background-color: #3882f6;
  color: #e5e7eb;
}

.secondary-text,
footer,
a {
  color: #e5e7eb;
  font-size: 18px;
}

.info-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  border: 1px solid black;
}

.header,
.top,
footer {
  background-color: #1f2937;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.info-text {
  text-align: center;
  margin-bottom: 16px;
}

.action-text {
  font-size: 18px;
  font-weight: bolder;
}

.btn-top,
.btn-bottom {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  border-radius: 4px;
  font-weight: 600;
  padding: 4px 18px;
}

.btn-top {
  border: 1px solid #3882f6;
}

.btn-bottom {
  border: 1px solid #f9faf8;
}
